.form-body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

form {
    display:flex;
    flex-direction: column;
    height:320px;
    width:270px;

}

input {
    margin-bottom: 20px;
}